@model IEnumerable<DAB2.models.Helprequest>

@{
    ViewData["Title"] = "ViewRequests";
}

<h1>Help Requests</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HelprequestId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HelprequestId)
            </td>
            <td>
                @(ViewData ["name"])
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignmentId)
            </td>
            <td>
                <a asp-controller="Helprequests" asp-action="Edit" asp-route-id="@item.HelprequestId">Edit</a> |
                <a asp-controller="Helprequests" asp-action="Delete" asp-route-id="@item.HelprequestId">Delete</a> 
            </td>
        </tr>
}
    </tbody>
</table>
